body{
font-family: Arial;
background:#0f172a;
color:white;
margin:0;
}

header{
display:flex;
justify-content:space-between;
background:#020617;
padding:20px;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
}

.container{
width:1000px;
margin:auto;
margin-top:30px;
}

.metrics{
display:flex;
gap:20px;
}

.card{
background:#1e293b;
padding:20px;
border-radius:8px;
margin-bottom:20px;
flex:1;
}

footer{
text-align:center;
margin-top:40px;
color:#94a3b8;
}